.about-us {
  .get-outline();

  background-color: @white;
}

.about-us__title {
  .get-font-title-h2();
}

.about-us__list {
  .ul-style-reset();
}

.about-us__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @black;
}
