.button {
  .get-font-button();
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 52px;
  padding: 0;

  border: 2px solid @grayish-text;

  cursor: pointer;
}

.button--green {
  color: @white;

  background-color: @green1;
  border: none;
}

@media (min-width: @tablet-width) {
  .button {
    width: 290px;
  }

  .button--green {
    width: 350px;
  }
}
