.card {
  .page-container();
  padding-top: 30px;
}

.card__image {
  img {
    display: block;
    width: 260px;
    height: 195px;
  }
}

.card__description {
  padding: 0 28px;
  padding-top: 25px;
  padding-bottom: 28px;

  border: 1px solid @border-color;
}

.card__top {
  padding-bottom: 22px;
}

.card__title {
  .margin-padding-reset();
  padding-bottom: 9px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @black;
}

.card__parameters {
  .margin-padding-reset();
  font-size: 13px;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  border-top: 1px solid @border-color;
}

.card__price {
  .margin-padding-reset();

  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: @black;
}

.card__basket {
  width: 20px;
  height: 19px;
}

.card__link-icon {
  path {
    fill: @icon-static;
  }

  &:hover {
    path {
      fill: @green1;
    }
  }

  &:active {
    path {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .card {
    display: flex;
    padding-top: 54px;
  }

  .card__image {
    img {
      width: 334px;
      height: 334px;
    }
  }

  .card__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: 24px;
    padding-bottom: 27px;

    border: 1px solid @border-color;
    border-left: none;
  }

  .card__top {
    padding-bottom: 0;
  }

  .card__title {
    font-size: 20px;

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .card__parameters {
    font-size: 15px;
  }

  .card__bottom {
    padding: 0 5px;
    padding-top: 21px;
    margin: 0 5px;
  }

  .card__price {
    margin-left: -5px;

    font-size: 17px;
  }

  .card__basket {
    margin-right: -5px;
  }
}

@media (min-width: @desktop-width) {
  .card {
    display: block;
    width: 316px;
    margin: 0;
    padding: 0;

    &:hover {
      .card__description {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
      }
    }

    &:active {
      .card__description {
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }

  .card:not(:last-child) {
    margin-right: auto;
  }

  .card__image {
    img {
      width: 316px;
      height: 462px;
    }
  }

  .card__description {
    display: block;

    padding-bottom: 27px;

    border: 1px solid @border-color;
    border-top: none;
  }

  .card__top {
    min-height: 100px;
  }

  .card__bottom {
    padding-top: 20px;
    margin: 0;
  }

  .card__price {
    font-size: 17px;
    margin-left: -6px;
  }

  .card__basket {
    margin-right: 0;
  }
}
