.catalog-cards__list {
  .get-outline();
  .ul-style-reset();
  display: flex;
  flex-direction: column;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px;
}

.catalog-cards__item {
  display: flex;
  flex-direction: column;
}

.catalog-cards__image {
  margin-bottom: 20px;
}

.catalog-cards__title {
  margin-bottom: 5px;
}

.catalog-cards__title-text {
  .margin-padding-reset();
  width: 235px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @black;
}

.catalog-cards__description {
  .margin-padding-reset();
  margin-bottom: 30px;

  font-size: 13px;
}

.catalog-cards__price {
  display: flex;
  margin-bottom: 60px;

  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: @black;
}

.catalog-cards__link {
  width: 20px;
  height: 20px;
  margin-left: auto;

  background-color: rgba(240, 10, 190, 0.3);
}

@media (min-width: @tablet-width) {
  .catalog-cards__list {
    // width: 772px;
    width: 86.528497409%;
    padding: 50px;
  }

  .catalog-cards__item {
    .get-outline();
    flex-wrap: wrap;
    height: 334px;
    // width: 664px;
    width: 100%;
  }

  .catalog-cards__title-text {
    font-size: 20px;
  }

  .catalog-cards__image {
    .get-outline();
    width: 334px;
    height: 334px;
    margin-bottom: 20px;
  }

  .catalog-cards__price {
    margin-top: auto;
  }
}

@media (min-width: @desctop-width) {
  .catalog-cards__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    // width: 1150px;
    width: 91.304347826%;
  }

  .catalog-cards__item {
    .get-outline();
    flex-wrap: nowrap;
    width: auto;
    height: auto;
  }

  .catalog-cards__image {
    .get-outline();
    width: auto;
    height: auto;
    margin-bottom: 20px;
  }
}
