.catalog-cards {
  @media (min-width: @tablet-width) {
    padding-top: 27px;
  }

  @media (min-width: @desktop-width) {
    .page-container();
    display: flex;
    flex-wrap: wrap;
    padding-top: 130px;
  }
}

.catalog-cards__item {
  @media (min-width: @desktop-width) {
    margin-right: 51px;
    margin-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
