.choice-list {
  .ul-style-reset();
  margin: 0 -30px;
}

.choice-list__link {
  display: block;
  padding: 30px;
  padding-right: 50%;

  text-align: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  color: @white;

  p {
    .margin-padding-reset();
  }
}

.choice-list__link--interior {
  background-color: @green1;
}

.choice-list__link--toys {
  background-color: @green2;
}

@media (min-width: @tablet-width) {
  .choice-list {
    display: flex;
    margin: 0;
  }

  .choice-list__item {
    width: 50%;
  }

  .choice-list__link {
    padding: 35px;
    padding-right: 50%;
  }
}

@media (min-width: @desctop-width) {
  .choice-list__link {
    padding-right: 60%;
  }
}
