.choice-list {
  .ul-style-reset();
  margin: 0 -30px;
}

.choice-list__link {
  position: relative;

  display: block;
  padding-top: 24px;
  padding-bottom: 31px;
  padding-left: 28px;
  padding-right: 50%;

  text-align: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  color: @white;

  p {
    .margin-padding-reset();
  }
}

.choice-list__link--interior {
  background-color: @green1;

  &:hover {
    background-color: #59d5bc;
  }

  &:active {
    background-color: #59d5bc;
  }
}

.choice-list__link--toys {
  background-color: @green2;

  &:hover {
    background-color: #46c1ae;
  }

  &:active {
    background-color: #46c1ae;
  }
}

.choice-list__link-icon {
  position: absolute;

  top: 23px;
  right: 37px;

  path {
    fill: rgba(20, 144, 128, 0.5);
  }
}

.choice-list__link-icon--toys {
  top: 21px;
  right: 27px;
}

@media (min-width: @tablet-width) {
  .choice-list {
    display: flex;
    margin: 0;
  }

  .choice-list__item {
    width: 50%;
  }

  .choice-list__link {
    padding-top: 27px;
    padding-bottom: 31px;
    padding-left: 35px;

    line-height: 30px;
  }

  .choice-list__link-icon {
    top: 30px;
    right: 37px;
  }

  .choice-list__link-icon--toys {
    top: 31px;
    right: 34px;
  }
}

@media (min-width: @desktop-width) {
  .choice-list__link {
    padding-right: 60%;
  }

  .choice-list__link:hover {
    // transform: scaleY(1.07);
    // transform-origin: bottom;
    margin-top: -5px;
    padding-bottom: 35px;

    path {
      fill: rgba(20, 144, 128, 0.7);
    }
  }

  .choice-list__link:active {
    color: rgba(255, 255, 255, 0.3);

    path {
      fill: rgba(20, 144, 128, 0.3);
    }
  }
}
