.contacts {
  background-color: @white;
}

.contacts__wrapper {
  .page-container();
  padding-top: 35px;
  padding-bottom: 39px;
}

.contacts__title {
  .get-font-title-h2();
  .margin-padding-reset();
  padding-bottom: 22px;
  margin-left: -2px;

  font-size: 18px;
}

.contacts__table {
  padding-bottom: 34px;
  margin-left: -4px;

  line-height: 30px;

  td {
    vertical-align: top;
  }
}

.contacts__properties {
  padding-right: 31px;
  padding-bottom: 28px;
}

.contacts__link {
  display: block;
  border-bottom: 1px solid #46c1ae;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  display: block;
  max-width: 320px;
  width: 320px;
  height: 457px;
  margin: 0 -30px;
  margin-bottom: 39px;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    padding-top: 61px;
    padding-bottom: 57px;
  }

  .contacts__title {
    .get-font-title-h2-tablet();
    position: relative;

    margin-left: -4px;
    padding-bottom: 43px;

    &::before {
      content: "";

      position: absolute;
      top: -15px;
      right: 46px;

      width: 4px;
      height: 81px;
      background-color: @black;
    }

    &::after {
      content: "";

      position: absolute;
      top: -11px;
      right: 2px;

      width: 0;
      height: 0;

      border-left: 40px solid @green1;
      border-bottom: 19px solid transparent;
      border-top: 19px solid transparent;
    }
  }

  .contacts__table {
    padding-bottom: 52px;

    font-size: 17px;

    tbody {
      display: flex;
    }

    tr {
      width: 50%;
    }
  }

  .contacts__properties {
    padding-right: 21px;
    padding-bottom: 28px;
  }

  .contacts__map {
    max-width: 768px;
    width: 768px;
    height: 457px;
    margin: 0 -50px;
    margin-bottom: 55px;
  }

  .contacts__button {
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    position: relative;

    padding-top: 138px;
    padding-bottom: 105px;
    padding-left: 225px;
    padding-right: 600px;
  }

  .contacts__title {
    .get-font-title-h2-desktop();
    padding-bottom: 42px;

    &::before {
      top: -9px;
      left: -108px;
    }

    &::after {
      top: -5px;
      left: -100px;
    }
  }

  .contacts__table {
    padding-bottom: 74px;

    tbody {
      display: block;
    }

    tr {
      width: 100%;
    }
  }

  .contacts__link {
    width: 80%;
  }

  .contacts__map {
    position: absolute;
    top: 67px;
    right: 50px;

    width: 525px;
    height: 457px;
    margin: 0;
  }

  .contacts__button {
    width: 230px;
    margin: 0;
  }
}
