.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 27px;

  &:hover {
    .copyright__text {
      color: rgba(0, 0, 0, 0.6);
    }

    path {
      fill: #46c1ae;
    }
  }

  &:active {
    opacity: 0.3;

    .copyright__text {
      color: rgba(0, 0, 0, 0.6);
    }

    path {
      fill: #46c1ae;
    }
  }
}

.copyright__text {
  margin-right: 30px;
  font-size: 19px;
  line-height: 1em;
  color: @black;
}

.copyright__icon {
  padding-top: 4px;
  width: 27px;
  height: 34px;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 28%;
    justify-content: flex-end;
    padding: 53px 0;
  }
}
