.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 320px;
  width: 100%;
}

.copyright__text {
  font-size: 19px;
  line-height: 1em;
  color: @black;
}

.copyright__link {
  width: 27px;
  height: 34px;
  margin: 22px 0;
  margin-left: 30px;

  background-color: rgba(150, 90, 200, 0.3);
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 34%;
  }
}
