.dividing-line {
  .margin-padding-reset();
  .page-container();
  height: 6px;
  border: none;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: contain;
}

@media (min-width: @tablet-width) {
  .dividing-line {
    height: 15px;
    background-size: cover;

    transform: rotate(180deg);
  }
}

@media (min-width: @desktop-width) {
  .dividing-line {
    height: 23px;
    max-width: 1050px;
  }
}
