.dividing-line {
  .margin-padding-reset();
  max-width: 1050px;
  margin: 0 auto;
  height: 7px;
  border: none;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: contain;

  transform: rotate(180deg);

  @media (min-width: @tablet-width) {
    height: 17px;
  }

  @media (min-width: @desktop-width) {
    height: 24px;
  }
}
