.menu-list {
  .ul-style-reset();
  position: relative;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.menu-list__item {
  display: flex;
  width: 100%;
  height: 80px;

  box-shadow: 0 1px 0 0 @shadow;
}

.menu-list__link {
  margin: auto;

  font-weight: bold;
  font-size: 17px;
  color: @black;
}

@media (min-width: @tablet-width) {
  .menu-list__item {
    position: relative;

    height: 90px;

    box-shadow: 1px 0 0 0 @shadow;

    &:first-child,
    &:nth-child(2) {
      position: absolute;
      bottom: -70px;
      left: -95%;

      width: 40%;

      box-shadow: none;

      .menu-list__link {
        font-size: 15px;
      }
    }

    &:nth-child(2) {
      left: -50%;
    }

    &:nth-child(3) {
      width: 20%;
    }

    &:last-child {
      width: 80%;

      &::after {
        content: "Бесплатная доставка по России";
        position: absolute;
        bottom: -35px;
        left: 35px;
      }
    }
  }
}

@media (min-width: @desctop-width) {
  .menu-list__item {
    flex-grow: 0;
    height: 90px;

    box-shadow: 1px 0 0 0 @shadow;

    &:first-child,
    &:nth-child(2) {
      position: relative;
      bottom: auto;
      left: auto;

      width: 22.025%;

      box-shadow: 1px 0 0 0 @shadow;

      &::after {
        content: "Новые поступления";
        position: absolute;
        bottom: -35px;
        left: 35px;

        font-weight: bold;
        color: @black;
      }

      .menu-list__link {
        font-size: 17px;
      }
    }

    &:nth-child(2) {
      width: 43.225%;

      &::after {
        content: "Распродажа";
      }
    }

    &:nth-child(3) {
      width: 9.43%;
    }

    &:last-child {
      width: 24%;
    }
  }

  .menu-list__link {
    margin-left: 35px;
  }
}
