.modal {
  .get-outline(5px, 110);
  background-color: @white;
}

.modal__title {
  .get-font-title-h2();
}

.modal__list {
  .ul-style-reset();
}

.modal__text {
  line-height: 30px;
}

.modal__item label {
  font-size: 17px;
  line-height: 1em;
  font-weight: bold;
}
