.modal {
  .page-container();
  padding-top: 31px;
  padding-bottom: 46px;
  margin-top: 40px;
  margin-bottom: 140px;

  border: 1px solid #c6c6c6;
  background-color: @white;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
}

.modal__title {
  .get-font-title-h2();
  .margin-padding-reset();
  margin-bottom: 12px;

  text-transform: uppercase;
  text-align: center;
}

.modal__text {
  .margin-padding-reset();
  margin-bottom: 21px;

  text-align: center;
  line-height: 30px;
}

.modal__form {
  display: block;
}

.modal__list {
  .ul-style-reset();
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal__item {
  width: 32%;
}

@media (min-width: @tablet-width) {
  .modal {
    max-width: 568px;
    padding: 0 108px;
    padding-top: 34px;
    padding-bottom: 46px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 57px;
    letter-spacing: -0.008em;
  }

  .modal__text {
    font-size: 17px;
  }
}
