.page-footer {
  background-color: @lightgray;
}

.page-footer__wrapper {
  .page-container();
  padding-top: 25px;
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 52px;
    padding-bottom: 52px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    min-width: 178px;
  }

  @media (min-width: @desktop-width) {
    width: 17%;
  }
}

.page-footer__logo-image {
  @media (min-width: @tablet-width) {
    cursor: pointer;

    &:hover {
      fill: @aqua-marine-two;
    }

    &:active {
      opacity: 0.3;

      fill: @aqua-marine-two;
    }
  }
}
