.production {
  .get-outline();
  background-color: #ffffff;
}

.production__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
}

.production__description {
  font-size: 13px;
}

.production__button {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: #444444;
}
