.production {
  .get-outline();
  background-color: @white;
}

.production__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: @black;
}

.production__description {
  font-size: 13px;
}
