.production {
  .page-container();
  padding-top: 31px;

  background-color: @white;
}

.production__wrapper {
  padding: 0 34px;
  padding-top: 23px;
  padding-bottom: 32px;

  border: 1px solid @border-color;
}

.production__title {
  .margin-padding-reset();
  position: relative;

  padding-bottom: 24px;
  padding-left: 55px;

  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: @black;

  &::before {
    content: "";

    position: absolute;
    top: 6px;
    left: -1px;

    width: 32px;
    height: 32px;

    background-image: url("../img/icon-video.svg");
  }
}

.production__video {
  position: relative;

  margin: 0 -35px;
  margin-bottom: 27px;
}

.production__image {
  display: block;
  width: 260px;
  height: 150px;
}

.production__play {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100px;
  height: 76px;
  margin-top: -38px;
  margin-left: -50px;

  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  border: none;

  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__description {
  .margin-padding-reset();
  padding-bottom: 25px;

  font-size: 13px;
}

@media (min-width: @tablet-width) {
  .production {
    padding-top: 53px;
  }

  .production__wrapper-position {
    position: relative;
    padding-top: 455px;
  }

  .production__wrapper {
    padding: 0 41px;
    padding-top: 37px;
    padding-bottom: 45px;

    border: 1px solid @border-color;
  }

  .production__title {
    padding-bottom: 32px;
    padding-left: 65px;

    font-size: 20px;

    &::before {
      top: -4px;
      left: 0;
    }
  }

  .production__video {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
  }

  .production__image {
    width: 668px;
    height: 455px;
  }

  .production__description {
    padding-bottom: 36px;
    margin-left: -1px;

    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .production {
    padding-top: 57px;
  }

  .production__wrapper-position {
    position: relative;
    padding-top: 0;
    padding-left: 682px;
  }

  .production__wrapper {
    padding-left: 79px;
    padding-right: 57px;
    padding-top: 95px;
    padding-bottom: 59px;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .production__title {
    padding-left: 0;

    &::before {
      top: -54px;
    }
  }

  .production__image {
    width: 682px;
    height: 455px;
  }

  .production__description {
    padding-bottom: 47px;
    margin-left: -1px;
  }
}
