.reviews {
  background-color: @white;
}

.reviews__wrapper {
  .page-container();
  padding-top: 47px;
  padding-bottom: 45px;
}

.reviews__title {
  .get-font-title-h2();
  .margin-padding-reset();
  padding-bottom: 23px;
  margin-left: -2px;
}

.reviews__item {
  .margin-padding-reset();
}

.reviews__text {
  .margin-padding-reset();
  padding-bottom: 26px;
  line-height: 30px;
}

.reviews__author {
  display: block;

  font-style: normal;
  font-size: 17px;
  line-height: 24px;

  b {
    display: block;
    padding-bottom: 6px;

    font-weight: bold;
    color: @black;
  }
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    position: relative;
    padding-top: 95px;
    padding-bottom: 120px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 17px;
  }

  .reviews__title {
    .get-font-title-h2-tablet();
    padding-bottom: 48px;
    margin-left: -5px;
  }

  .reviews__text {
    padding-bottom: 58px;

    font-size: 17px;
    line-height: 30px;
  }

  .reviews__author {
    font-size: 18px;
    line-height: 24px;
  }

  .reviews__button {
    position: absolute;
    top: 97px;
    right: 50px;

    width: 175px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    padding-top: 87px;
    padding-bottom: 170px;
    padding-left: 225px;
    background-position: 50px 16px;
  }

  .reviews__title {
    .get-font-title-h2-desktop();
    padding-bottom: 46px;
    margin-left: -4px;
  }

  .reviews__text {
    padding-bottom: 40px;
    padding-right: 95px;
  }

  .reviews__button {
    top: 95px;
  }
}
