.reviews__wrapper {
  .page-container();
  padding-bottom: 45px;

  @media (min-width: @tablet-width) {
    position: relative;
    padding-bottom: 120px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 170px;
    padding-left: 225px;
    background-position: 50px 0;
  }
}

.reviews__title {
  .get-font-title-h2();
  .margin-padding-reset();
  margin-bottom: 23px;
  margin-left: -2px;

  @media (min-width: @tablet-width) {
    .get-font-title-h2-tablet();
    padding-top: 77px;
    margin-bottom: 48px;
    margin-left: -5px;
    padding-right: 230px;
  }

  @media (min-width: @desktop-width) {
    .get-font-title-h2-desktop();
    padding-top: 71px;
    margin-bottom: 46px;
    margin-left: -4px;
  }
}

.reviews__item {
  .margin-padding-reset();
}

.reviews__text {
  .margin-padding-reset();
  margin-bottom: 26px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 58px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
    padding-right: 105px;
  }
}

.reviews__author {
  display: block;

  font-style: normal;
  font-size: 17px;
  line-height: 24px;

  b {
    display: block;
    padding-bottom: 6px;

    font-weight: bold;
    color: @black;
  }

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.reviews__button {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 79px;
    right: 50px;

    width: 175px;
  }
}
