.reviews {
  background-color: @white;
}

.reviews__wrapper {
  .page-container();
  .get-outline();
  padding-top: 30px;
  padding-bottom: 45px;
}

.reviews__title {
  .get-font-title-h2();
  .margin-padding-reset();
}

.reviews__item {
  .margin-padding-reset();
  margin-top: 30px;
}

.reviews__text {
  .margin-padding-reset();
  margin-bottom: 30px;
  line-height: 30px;
}

.reviews__author {
  display: block;
  margin-bottom: 30px;

  font-style: normal;
  font-size: 17px;
  line-height: 30px;

  b {
    display: block;

    font-weight: bold;
    line-height: 24px;
    color: @black;
  }
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    // width: 772px;
    width: 86.528497409%;
    padding: 0;
    margin-bottom: 150px;
  }

  .reviews__title {
    .get-font-title-h2-tablet();
    margin-top: 86px;
    margin-left: 47px;
  }

  .reviews__text {
    width: 600px;
    margin-top: 65px;
    margin-left: 47px;
  }

  .reviews__author {
    display: block;
    margin-top: 68px;
    margin-left: 47px;
  }

  .reviews__button {
    margin-left: auto;
    margin-top: -340px;
    margin-bottom: 200px;
  }
}

@media (min-width: @desctop-width) {
  .reviews__wrapper {
    // width: 1150px;
    width: 91.304347826%;
  }

  .reviews__title {
    .get-font-title-h2-desctop();
    margin-top: 80px;
    margin-left: 174px;
  }

  .reviews__text {
    width: 690px;
    margin-left: 174px;
  }

  .reviews__author {
    display: block;
    margin-top: 50px;
    margin-left: 174px;
  }

  .reviews__button {
    margin-left: auto;
    margin-top: -290px;
    margin-bottom: 150px;
  }
}
