.social {
  .ul-style-reset();
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 27px;

  border-bottom: 1px solid @black-10;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;

    border: none;
  }
}

.social__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  svg {
    display: block;
  }

  &:hover {
    svg {
      fill: @aqua-marine-two;
    }
  }

  &:active {
    opacity: 0.3;

    svg {
      fill: @aqua-marine-two;
    }
  }
}
