.social {
  .ul-style-reset();
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 27px;

  border-bottom: 1px solid @black-10;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;

    border: none;
  }
}

.social__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  color: @black;

  &:hover {
    color: @aqua-marine-two;
  }

  &:active {
    color: @aqua-marine-two;
    opacity: 0.3;
  }

  svg {
    display: block;
  }
}
