.social {
  .ul-style-reset();
  display: flex;
  justify-content: center;

  border-bottom: 1px solid @black-10;

  @media (min-width: @tablet-width) {
    border: none;
  }
}


.social__item {
  margin-bottom: 27px;

  &:not(:last-child) {
    margin-right: 38px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.social__link {
  display: block;
  margin-right: 2px;

  &:hover {
    path {
      fill: @aqua-marine-two;
    }
  }

  &:active {
    opacity: 0.3;

    path {
      fill: @aqua-marine-two;
    }
  }
}

.social__link--instagram {
  width: 22px;
  height: 21px;
  margin-top: 5px;
}

.social__link--facebook {
  width: 15px;
  height: 28px;
}

.social__link--twitter {
  width: 23px;
  height: 20px;
  margin-top: 5px;
}
