.toggle {
  display: none;
}

.toggle ~ label {
  .get-font-button();
  display: block;
  padding-top: 14px;
  padding-bottom: 16px;
  text-align: center;
  border: 2px solid rgba(68, 68, 68, 0.1);

  &:hover {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.toggle:checked ~ label {
  border-color: @green1;
}
