.toggle {
  & ~ label {
    .get-font-button();
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border: 2px solid @gray-10;
  }

  &:focus {
    & ~ label {
      border-color: @gray-30;
    }
  }

  &:hover {
    & ~ label {
      border-color: @gray-30;
    }
  }

  &:checked {
    & ~ label {
      border-color: @green1;
    }
  }
}
