.top-product {
  .get-outline(5px, 300);

  background-color: #ffffff;
}

.top-product__title {
  .get-font-title-h2();
}

.top-product__sub-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @base-color;
}

.top-product__parameters {
  line-height: 20px;
}

.top-product__price {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.top-productd__button {
  .get-font-button();
  font-size: 17px;
}
