.user-nav {
  .ul-style-reset();
  z-index: 1;

  @media (min-width: @tablet-width) {
    width: 52.1%;
    display: flex;

    &:first-of-type {
      order: 1;
    }
  }

  @media (min-width: @desktop-width) {
    width: 40%;
    justify-content: flex-end;

    &:first-of-type {
      order: -1;
      justify-content: flex-start;
    }
  }
}

.user-nav__item {
  text-align: left;

  border-bottom: 1px solid @border-color;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.user-nav__link {
  display: block;
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: 75px;

  font-weight: bold;
  font-size: 17px;
  color: @black;

  &:hover {
    color: @black-60;
  }

  &:active {
    color: @black-30;
  }

  @media (min-width: 321px) {
    padding-left: 30%;
  }

  @media (min-width: 431px) {
    padding-left: 35%;
  }

  @media (min-width: 631px) {
    padding-left: 40%;
  }

  @media (min-width: @tablet-width) {
    padding-top: 18px;
    padding-bottom: 19px;
    padding-right: 36px;
    padding-left: 0;

    font-size: 15px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 31px;
    padding-bottom: 33px;
    padding-right: 36px;
    padding-left: 0;

    font-size: 17px;
  }
}

.user-nav__link--search {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 31px;
    left: 10%;

    width: 12px;
    height: 12px;

    border: 2px solid @black-20;
    border-radius: 50%;
  }

  &::after {
    content: "";

    position: absolute;
    top: 45px;
    left: calc(10% + 13px);

    width: 6px;
    height: 2.5px;

    background-color: @black-20;
    border-radius: 0 40% 40% 0;

    transform: rotate(45deg);
  }

  &:hover::before {
    border-color: @green1;
  }

  &:hover::after {
    background-color: @green1;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: 321px) {
    &::before {
      left: 15%;
    }

    &::after {
      left: calc(15% + 13px);
    }
  }

  @media (min-width: 431px) {
    &::before {
      left: 25%;
    }

    &::after {
      left: calc(25% + 13px);
    }
  }

  @media (min-width: 631px) {
    &::before {
      left: 30%;
    }

    &::after {
      left: calc(30% + 13px);
    }
  }

  @media (min-width: @tablet-width) {
    padding: 32px 41px;

    font-size: 0;

    border-right: 1px solid @black-10;
    border-left: 1px solid @black-10;

    &::before {
      top: 42%;
      left: 40.5%;
    }

    &::after {
      top: 51px;
      left: 45px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 32px 41px;
  }
}

.user-nav__link--basket {
  position: relative;

  &:hover {
    .user-nav__icon {
      color: @green1;
    }
  }

  &:active {
    .user-nav__icon {
      opacity: 0.3;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 31px;
    padding-bottom: 33px;
    padding-left: 82px;
    padding-right: 0;

    font-size: 17px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    padding-left: 83px;
    padding-right: 3px;
  }
}

.user-nav__icon {
  position: absolute;
  top: 30px;
  left: 9%;

  color: @black-20;

  @media (min-width: 321px) {
    left: 15%;
  }

  @media (min-width: 431px) {
    left: 25%;
  }

  @media (min-width: 631px) {
    left: 30%;
  }

  @media (min-width: @tablet-width) {
    top: 40%;
    left: 31px;
  }
}

.user-nav__link[href^="form"] {
  @media (min-width: @desktop-width) {
    padding-left: 34px;

    border-left: 1px solid @black-10;
  }
}
