.margin-padding-reset() {
  padding: 0;
  margin: 0;
}
.ul-style-reset() {
  list-style: none;
  .margin-padding-reset();
}
.get-outline (@size: 5px, @h: 180) {
  outline: @size solid hsla(@h, 50%, 50%, 0.5);
}

.get-font-title-h2() {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
.get-font-button() {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
}
