// .colors
@green1: #63d1bb;
@green2: #56c3b2;
@white: #ffffff;
@leaf-green: #68b738;
@lightgray: #f1f1f1;
@white-two: #f2f2f2;
@dark-blie: #161c35;
@black: #000000;
@shadow: #ececec;
// .colors-text
@grayish-text: #444444;
@green-text: @green1;
@gray-placeholder: rgba(68, 68, 68, 0.3);
//.width
@tablet-width: 772px;
@desctop-width: 1150px;
